table { /*селектор тега*/
	width:80%; /*ширина*/
	border: 3px double #BDBDBD; /*толщина, стиль и цвет границы вокруг элемента*/
}

td { /*селектор тега*/
	border: 3px double #BDBDBD; /*толщина, стиль и цвет границы вокруг элемента*/
}

th { /*селектор тега*/
	color: #067d2e; /*цвет шрифта*/
	text-decoration: underline;  /*оформление текста; подчеркнутый текст*/
	font-size: 20pt; /*размер шрифта */
	padding: 22px; /*расстояние от внутреннего края рамки до воображаемого прямоугольника*/
}

.cell_1 { /*class*/
	width: 30%; /*ширина*/
}

img { /*селектор тега*/
    width: 100%; /*ширина*/
}

#text_cookies { /*id*/
	background: #e8aa35; /*цвет фона*/
	color: white; /*цвет шрифта*/
	}
	
#col_cook { /*id*/
	color: #d4043b; /*цвет шрифта*/
    font-weight: bold; /*насыщенность шрифта*/
}

.line_3 { /*class*/
	background: #258a45; /*цвет фона*/
	color: white; /*цвет шрифта*/
	text-align: right; /*горизонтальное выравнивание текста*/
	font-size: 12pt; /*размер шрифта */
	padding: 16px; /*расстояние от внутреннего края рамки до воображаемого прямоугольника*/
}

.grey_block { /*class*/
	width: 160px; /*ширина*/
	background: #f0eded; /*цвет фона*/
	padding: 16px; /*расстояние от внутреннего края рамки до воображаемого прямоугольника*/
	float: right;  /*по какой стороне будет выравниваться элемент*/
	border-radius: 12px; /*радиус скругления уголков рамки*/
	text-align: center; /*горизонтальное выравнивание текста*/
	margin: 16px; /*величина отступа от каждого края элемента*/
}