html, body{ /*селектор тега*/
	margin: 0px; /*величина отступа от каждого края элемента*/
}

#center_text { /*id*/
    width: 60%; /* Ширина*/
    padding: 30px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */   
	background: #f1f1f1; /*цвет фона*/
}
 
#rezyme { /*id*/
	color: #239636; /*цвет шрифта*/
    font-weight: bold; /*насыщенность шрифта*/
	font-size: 30pt; /*размер шрифта */
	padding: 0px; /* Поля вокруг текста */
	text-align: center; /*горизонтальное выравнивание текста*/
	font-family: Century Gothic; /*семейство шрифта*/
}

.paragraph { /*class*/
	border: 1px solid white; /* Толщина рамки в пикселах,тип границы и цвет линии */
    padding: 3px; /* Расстояние от текста до рамки */
	background: white; /*цвет фона*/
    border-radius: 5px; /*радиус скругления уголков рамки*/
    padding: 16px; /* Поля вокруг текста */
}

.mytext { /*class*/
	font-family:  Georgia; /*семейство шрифта*/
	font-size: 12pt; /*размер шрифта */
}

.mymenu { /*class*/
	font-family:  Palatino Linotype; /*семейство шрифта*/
	font-size: 18pt; /*размер шрифта */
	font-weight: bold; /*насыщенность шрифта*/
}

input[type=text],input[type=date] { /*селектор тега*/
	width: 40%; /* Ширина*/
    padding: 8px 10px; /* Поля вокруг текста */
	margin: 6px 0; /*величина отступа от каждого края элемента*/
	border: 1px solid #ccc; /*толщина, стиль и цвет границы вокруг элемента*/
	border-radius: 6px; /*радиус скругления уголков рамки*/
	box-sizing: border-box;  /*изменение алгоритма расчета ширины и высоты элемента*/
	background-color: #ffe; /*цвет фона*/
	color: #358542; /*цвет шрифта*/
}

input[type=submit] { /*селектор тега*/
    width: 30%; /* Ширина*/
    padding: 20px; /* Поля вокруг текста */
	margin: 6px 0; /*величина отступа от каждого края элемента*/
	border: 1px solid #ccc; /*толщина, стиль и цвет границы вокруг элемента*/
	border-radius: 6px; /*радиус скругления уголков рамки*/
	box-sizing: border-box; /*изменение алгоритма расчета ширины и высоты элемента*/
    background-color: #21913a; /*цвет фона*/
	color: white; /*цвет шрифта*/
}

input[type=reset] { /*селектор тега*/
	width: 30%; /* Ширина*/
    padding: 20px; /* Поля вокруг текста */
	margin: 6px 0; /*величина отступа от каждого края элемента*/
	border: 1px solid #ccc; /*толщина, стиль и цвет границы вокруг элемента*/
	border-radius: 6px; /*радиус скругления уголков рамки*/
	box-sizing: border-box; /*изменение алгоритма расчета ширины и высоты элемента*/
    background-color: #d12a2d; /*цвет фона*/
	color: white; /*цвет шрифта*/
	float:right; /*по какой стороне будет выравниваться элемент*/
}

select { /*селектор тега*/
	width: 20%; /* Ширина*/
    padding: 8px 10px; /* Поля вокруг текста */
	margin: 6px 0; /*величина отступа от каждого края элемента*/
	border: 1px solid #ccc; /*толщина, стиль и цвет границы вокруг элемента*/
	border-radius: 6px; /*радиус скругления уголков рамки*/
	box-sizing: border-box; /*изменение алгоритма расчета ширины и высоты элемента*/
}

textarea { /*селектор тега*/
	width: 50%; /* Ширина*/
    padding: 8px 10px; /* Поля вокруг текста */
	margin: 6px 0; /*величина отступа от каждого края элемента*/
	border: 1px solid #ccc; /*толщина, стиль и цвет границы вокруг элемента*/
	border-radius: 6px; /*радиус скругления уголков рамки*/
	box-sizing: border-box; /*изменение алгоритма расчета ширины и высоты элемента*/
}
